<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>front/center/main.uhtml</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:wlx-service.xml</param-value>
  </context-param>
  
  
   <!-- context-param -> listener -> filter -> servlet  -->
    
  <!-- 编码过滤器 -->
  <filter>
        <filter-name>encodeFilter</filter-name>
        <filter-class>com.cnu.wlx.filter.EncodeFilter</filter-class>
        <init-param>
        	<param-name>charset</param-name>
        	<param-value>UTF-8</param-value>
        </init-param>
 </filter>
 <filter-mapping>
      <filter-name>encodeFilter</filter-name>
      <url-pattern>/control/*</url-pattern>
 </filter-mapping>  
  <!-- 前端的提问也需要过滤 -->
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/front/question/*</url-pattern>
  </filter-mapping>

 <!-- 管理员过滤器 -->
   <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.cnu.wlx.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/control/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>viewspace</servlet-name>
    <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewspace</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userspace</servlet-name>
    <servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>userspace</servlet-name>
    <url-pattern>*.uhtml</url-pattern>
  </servlet-mapping>
  
  
	<!-- 配置访问页面资源不存在异常 -->
	<error-page>
		<error-code>404</error-code>
		<location>/errors/404.jsp</location>
	</error-page>


	<!-- 未知异常 -->
	<error-page>
		<exception-type>Exception</exception-type>
		<location>/errors/UnKnowException.jsp</location>
	</error-page>

	<!-- 服务器端出现异常错误 -->
	<error-page>
		<error-code>500</error-code>
		<location>/errors/500.jsp</location>
	</error-page>
    
</web-app>